body{
    overflow: hidden;
}
section {
    min-height: 103vh;
    background-color: #0100e9;
    background-image: linear-gradient(160deg, #01012c 0%, #80D0C7 100%);
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    width: 103%;
}
.maindiv {
    width: 286px;
}
.maindiv h1 {
    font-size: 25px;
    color: white;
    font-family: 'Audiowide', sans-serif;
}
.subdiv2 span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: darkgreen;
}
.preloader {
    position: absolute;
    top: 0;
    left: 22px;
    width: 80%;
    height: 100%;
    background: transparent url(giphy.gif) center center no-repeat;
    display: none;
    z-index: 1000;
}
.circle1, .circle2{
    display: none;
}
